
<h1>Books</h1> 
 
  <% @books.each do |book| %>
    
      <%if book.cover.attached?%>
       <div class='image'> <img src="<%=(url_for(book.cover))%>"></div>
      <%end%>
      <div class='info'>
       <strong>Title:</strong>
        <%= book.title %><br>
        <strong>Author:</strong>
        <%= book.author %>
        <%= link_to 'Show', book_path(book) %>
        <% if admin_signed_in?%>
          <%= link_to '|Edit', edit_book_path(book) %>
          <%= link_to '|Destroy', book_path(book),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div> 
  <% end %>