<p>
  <%if @book.cover.attached?%>
    <img src="<%=(url_for(@book.cover))%>">
  <%end%>
</p>

<p>
  <%if @book.content.attached?%>
    <a href="<%=(url_for(@book.content))%>"> Open pdf</a>
  <%end%>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
  <%if @book.price?%>
   <b class='btn btn-warning'>Price $ <%= @book.price.round(2) %></b>
  <%end%>
</p>
<%= link_to 'Get Free', payments_path(free: true, book_id: @book.id),  method: :post, :class => 'btn btn-secondary'%>
<%= link_to 'Buy', payments_path(buy: true, book_id: @book.id), method: :post, :class => 'btn btn-success'%>
<br>
<br>
<% if admin_signed_in?%>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<%end%>
<%= link_to 'Back', books_path %>
